[submodule "Utils/Shared"]
	path = Utils/Shared
	url = https://github.com/jayd1860/Utils
	branch = development
[submodule "Group/DataTree"]
	path = Group/DataTree
	url = https://github.com/jayd1860/DataTree
	branch = development
