[submodule "Utils/Shared"]
	path = Utils/Shared
	url = https://github.com/BUNPC/Utils
[submodule "Group/DataTree"]
	path = Group/DataTree
	url = https://github.com/BUNPC/DataTree
[submodule "Group/FuncRegistry"]
	path = Group/FuncRegistry
	url = https://github.com/BUNPC/FuncRegistry
